# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tkinter-related
*.png

# Caches and logs
*.log
*.sqlite3

# Virtual environment
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS files
.DS_Store
